<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.north.light.libshare">

    <application>
        <provider
            android:name=".contentprovider.ShareContentProvider"
            android:authorities="${applicationId}.contextprovider"
            android:exported="false" />
    </application>

</manifest>